*{
    margin: 0;
    padding: 0;
}

body {
    background: black;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.bubble{
    position: absolute;
    top: 40vh;
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: inset 0 0 10px white, inset -10px 10px 15px #020131,
    inset 5px 5px 10px darkred, inset -5px 5px 20px white ,
    inset 15px -25px 20px purple;
}

.bubble-two{
    box-shadow: inset 0 0 10px white, inset -10px 10px 15px #020131,
    inset 5px 5px 10px darkred, inset -5px 5px 20px white ,
    inset 15px -25px 20px purple;
}
.bubble-three{
    box-shadow: inset 0 0 10px white, inset -10px 10px 15px #020131,
    inset 5px 5px 10px darkred, inset -5px 5px 20px white ,
    inset 15px -25px 20px purple;
}
.bubble-four{
    box-shadow: inset 0 0 10px white, inset -10px 10px 15px #020131,
    inset 5px 5px 10px darkred, inset -5px 5px 20px white ,
    inset 15px -25px 20px purple;
}
.bubble-five{
    box-shadow: inset 0 0 10px white, inset -10px 10px 15px #020131,
    inset 5px 5px 10px darkred, inset -5px 5px 20px white ,
    inset 15px -25px 20px purple;
}
.score-board {
    background: white;
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 0;
    left:calc(50% - 150px);

}
