body{
    margin: 0;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 0.06em;
    width: 100%;
    height: 720px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), black), url("../images/KaLvXw-1280.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

}
#c{
    display: block;
    touch-action: none;
    transform: translateZ(0);
}
/*---------------------------------------------------------*/

.score,
.pause_btn{
    position: fixed;
    font-size: 14px;
}

.score{
    top: 0.65em;
    left: 0.65em;
    pointer-events: none;
    user-select: none;
}

.count_lbl{
    font-size: 0.46em;
}

.pause_btn{
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.8em 0.65em;
}

.pause_btn>div{
    position: relative;
    width: 0.8em;
    height: 0.8em;
    opacity: 0.75;
}

.pause_btn> div::before,
.pause_btn> div::after{
    content: '';
    display: block;
    width: 34%;
    height: 100%;
    background-color: #ffffff;
}

.pause_btn> div::after{
    right: 0;
}

.slowmo{
    position: fixed;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    transition: opacity 0.4s;
    will-change: opacity;
}

.slowmo::before{
    content:'SLOW-MO';
    display: block;
    font-size: 8px;
    margin-left: 0.5em;
    margin-bottom: 8px;
}

.slowmo::after{
    content: '';
    display: block;
    position: fixed;bottom: 0;
    width: 100%;
    height: 1.5vh;
    background-color: rgba(0,0,0,0.25);
    z-index: -1;
}

.slowmo_bar {
    height: 1.5vh;
    background-color: rgba(255, 255, 255, 0.75);
    transform-origin: 0 0;
}

/*-----------------------------------------------------------------*/
.second::before{
    content: '';
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s;
    transition-timing-function: ease-in;
}

.second.has-active::before{
    opacity: 0.08;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.second.interactive-mode::before{
    opacity: 0.02;
}

.menu{
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select:none;
    text-align: center;
    color: white;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition-property: opacity,visibility,transform;
    transition: 0.2s;
    transition-timing-function: ease-in;
}

.menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition-duration: 0.45s;
    transition-timing-function: ease-out;
}